build/
dist/
target/

.gradle
.idea
.project
.c9/
*.launch
.settings/
.metadata/
*.sublime-workspace
bin/
tmp/
out/
*.iml
*.ipr
*.iws
*.bak
*.launch
*.tmp
*.class
*.dumpstream
.buildpath
.classpath
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
$RECYCLE.BIN/
._*
.AppleDouble
.LSOverride
*.lnk
Desktop.ini
ehthumbs.db

training-data/
.ipynb_checkpoints
ACCURACY_PLOTS.md
ACCURACY_TABLE.md
