build/
dist/
gradle/
target/

.gradle
.idea
.project
.c9/
*.launch
.settings/
.metadata/
*.sublime-workspace
bin/
tmp/
out/
*.iml
*.ipr
*.iws
*.bak
*.launch
*.tmp
*.class
.buildpath
.classpath
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
$RECYCLE.BIN/
._*
.AppleDouble
.LSOverride
*.lnk
Desktop.ini
ehthumbs.db

accuracy-reports/*/*Report.txt
